/#!Users!Marion!Documents!Programming!Unity!Fremen!AF!AlmostFree!New_Version!AlmostFree!Assets!Modules!Network!Scripts!NetworkGate.cs#
/#!Users!Marion!Documents!Programming!Unity!Fremen!AF!AlmostFree!New_Version!AlmostFree!Assets!Scenes!GameScene!Script!GameSceneDirector.cs#
/bookmarks
/config.el
*.1
/elpa/company-20160730.1516/company-dabbrev-code.el
/elpa/archives/gnu/archive-contents
/recentf
/tramp
